@import 'tailwindcss';

:root {
  --background: #faf1e3;
  --foreground: #4a3b32;
  --color-primary: #957139;
  --color-primary-dark: #7d5c28;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-inria-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    sans-serif;
}
